<table class="table text-left">
  <tbody>
    <tr>
      <th scope="row" style="width: 30%">Programming</th>
      <td>Python, Java, JavaScript, C, C++</td>
    </tr>
    <tr>
      <th scope="row">Web Development</th>
      <td>
        Django, Flask, HTML5, CSS3, Bootstrap, Nginx, Gunicorn, Docker, Heroku,
        Git
      </td>
    </tr>
    <tr>
      <th scope="row">Database</th>
      <td>PostgreSQL, MySQL, MongoDB</td>
    </tr>
    <tr>
      <th scope="row">Machine Learning</th>
      <td>TensorFlow, Keras, KNIME, Scikit-learn, Pandas, Numpy</td>
    </tr>
  </tbody>
</table>
